{% extends "layout.html" %}

{% block title %}
    Modify cash
{% endblock %}

{% block main %}

    <h1>Add or remove cash</h1>
    <h4>Total cash remaining: {{ balance | usd }}</h4>
    <p></p>
    <form action="/modcash" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="amount" placeholder="Amount" type="number" step=".01">
        </div>
        <button class="btn btn-primary" name="add" type="submit" value="add">Add to my account</button>
        <button class="btn btn-primary" name="remove" type="submit" value="remove">Remove from my account</button>
    </form>

{% endblock %}